.status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
}

.status-indicator[color="green"] {
    background-color: #00b700;
}

.status-indicator[color="orange"] {
    background-color: #ffc400;
}

.status-indicator[color="red"] {
    background-color: #ff2023;
}

.connection-status {
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    line-height: 1;
}

.connection-status-label {
    display: inline-block;
    margin-left: 10px;
}